**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
**/.pytest_cache
**/.coverage
**/htmlcov
**/.venv
**/venv
**/env
**/ENV

frontend/node_modules
frontend/.next
frontend/out/.next

backend/tests
backend/htmlcov
backend/.pytest_cache

.git
.gitignore
.vscode
.idea
*.md
!README.md

backend/alembic/versions/*.pyc
backend/alembic/__pycache__

*.log
error logs.txt
